* {
	text-align: center;
	color: lightgray;
	font-family: futura;
}

h1 {
	font-size: 52px;
	font-kerning: auto;
	letter-spacing: 0.2em;
	margin: 10px;
}

body { 	margin-left: auto;
		margin-right: auto;
		background-color: #1E282C;
}

canvas {
	width: 90vw !important;
	height: 80vh !important;
	padding: 0px 4vw 0vw 4vw;
	border: 10px;
	border-color: white;
}

img.giphy {
	margin-left: auto;
	margin-right: auto;
	height: 240px;}

span { color: darkgray; }

a {
	color: lightblue;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.readme-ref {
	color: light-blue;
	padding: 20px 0px 20px 5vw;
	text-align: left;
}

#centered-mains {
	display: block;
	margin: auto;
}

.title-border {
	border: 3px;
	border-color: black;
}

.container {

}

.clearfix {
	overflow: auto;
}
