
h1 { 	font-size: 52px; 
		font-family: futura;	
		text-align: center;		}

h2 {	font-size: 36px; 
		font-family: futura;
		text-align: center;		}

h3 {	font-size: 24px; 
		font-family: futura;
		text-align: center;		}

body { 	margin-left: auto;
		margin-right: auto;
		background-color: #1E282C;}

canvas	{width: 100%; height: 80%;
		margin: auto; }

img.giphy { 
		margin-left: auto; 
		margin-right: auto; 
		height: 240px;}

#centered-mains {
		display: block;	
		margin: auto;
}