
h1 { 	font-size: 52px; 
		font-family: futura;	
		text-align: center;
		color: gray;
		margin: 10px;		
	}

h2 {	font-size: 36px; 
		font-family: futura;
		text-align: center;		}

h3 {	font-size: 24px; 
		font-family: futura;
		text-align: center;		}

body { 	margin-left: auto;
		margin-right: auto;
		background-color: #1E282C;
	}

canvas {width: 90vw !important; 
		height: 80vh !important;
		/*margin-left: 5vw;*/
		/*margin-right: 5vw; */
		padding: 0px 4vw 4vw 4vw;
		border: 10px;
		border-color: white;
	}

img.giphy { 
		margin-left: auto; 
		margin-right: auto; 
		height: 240px;}

#centered-mains {
		display: block;	
		margin: auto;
	}


#stream-canvas {

	}